{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Flask Song</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home_page') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('song_share') }}">Share Now</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('query_song') }}">Search</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" onclick="javascritp:alert('尚未開放，敬請期待：）');">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="tooltip" title="此功能尚未開放" class="sidebar-item-link"
          data-placement="bottom">Register123</a>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script>
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })</script>
      </li>
    </ul>
  </div>

</nav>
{% endblock %}

{% block content %}
Hi, welcome to this sharing website! <p>

<div id="QA">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/faq.js') }}">
  </script>
  <ul>
    <li>Question 1</li>
    <li>Answer 1</li>
    <li>Question 2</li>
    <li>Answer 2</li>
    <li>Question 3</li>
    <li>Answer 3</li>
  </ul>
  <!-- <ul>
    <li>Question 3</li>
    <li>Answer 3</li>
    <li>Question 4</li>
    <li>Answer 4</li>
  </ul> -->

</div>
{% endblock %}